@model TaskDay8.Models.Trainee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trainee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_EditMoodPartial" model="Model" />

            <div class="form-group">
                <label>Select Courses:</label>
                @foreach (var course in ViewBag.CourseId)
                {
                    bool isChecked = false;
                    if (ViewBag.SelectedCourseIds != null && ViewBag.SelectedCourseIds.Contains(course.Id))
                    {
                        isChecked = true;
                    }
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Courses" value="@course.Id" @(isChecked ? "checked" : "") required /> @course.Name
                        </label>
                    </div>
                }
                <span asp-validation-for="Courses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackId" class="control-label"></label>
                <select asp-for="TrackId" class="form-control" asp-items="ViewBag.TrackId"></select>
                <span asp-validation-for="TrackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
